In [28]:
import sys
sys.path.insert(0, r'C:\Users\julia\OneDrive\Documents\ML Projects\Coffee-Price-Prediction\Ignore')
import pandas as pd
from config import *

In [29]:
coffee_data = get_coffee_price()
coffee_data
df = pd.DataFrame(coffee_data['data'])
df.reset_index(inplace=True)
(df == ".").sum()

index      0
date       0
value    120
dtype: int64

In [30]:
# Drop the last 120 rows because they contain null values
df = df.iloc[:-120]
df

     index        date             value
0        0  2024-12-01  344.118636363636
1        1  2024-11-01  304.952857142857
2        2  2024-10-01  276.777391304348
3        3  2024-09-01  278.760476190476
4        4  2024-08-01  261.437727272727
..     ...         ...               ...
415    415  1990-05-01  92.0199890136719
416    416  1990-04-01  93.7300109863281
417    417  1990-03-01  93.9599914550781
418    418  1990-02-01   84.010009765625
419    419  1990-01-01  75.8299865722656

[420 rows x 3 columns]

In [31]:
# Download data to a csv file. This way I don't have to call the API every time.

csv_file_path = "coffee_output_data.csv"
df.to_csv(csv_file_path, index=False)
print(f"DataFrame successfully exported to {csv_file_path}")

DataFrame successfully exported to coffee_output_data.csv

In [39]:
# Import csv file

df = pd.read_csv(r"C:\Users\julia\OneDrive\Documents\ML Projects\Coffee-Price-Prediction\coffee_output_data.csv")
df

     index        date       value
0        0  2024-12-01  344.118636
1        1  2024-11-01  304.952857
2        2  2024-10-01  276.777391
3        3  2024-09-01  278.760476
4        4  2024-08-01  261.437727
..     ...         ...         ...
415    415  1990-05-01   92.019989
416    416  1990-04-01   93.730011
417    417  1990-03-01   93.959991
418    418  1990-02-01   84.010010
419    419  1990-01-01   75.829987

[420 rows x 3 columns]

In [40]:
# Delete duplicate index column
df.drop('index', axis=1)

           date       value
0    2024-12-01  344.118636
1    2024-11-01  304.952857
2    2024-10-01  276.777391
3    2024-09-01  278.760476
4    2024-08-01  261.437727
..          ...         ...
415  1990-05-01   92.019989
416  1990-04-01   93.730011
417  1990-03-01   93.959991
418  1990-02-01   84.010010
419  1990-01-01   75.829987

[420 rows x 2 columns]

In [53]:
# Create function to convert values from cents per pound to dollars per pound

def dollar_per_pound(value):
    # for i in range(len(value)):
    #     value[i] = value[i]  * 0.01
    new_value = value * 0.01
    return round(new_value, 2)

In [56]:
# Apply the function to values

df['new_values'] = df['value'].apply(dollar_per_pound)
df

     index        date       value  new_values
0        0  2024-12-01  344.118636        3.44
1        1  2024-11-01  304.952857        3.05
2        2  2024-10-01  276.777391        2.77
3        3  2024-09-01  278.760476        2.79
4        4  2024-08-01  261.437727        2.61
..     ...         ...         ...         ...
415    415  1990-05-01   92.019989        0.92
416    416  1990-04-01   93.730011        0.94
417    417  1990-03-01   93.959991        0.94
418    418  1990-02-01   84.010010        0.84
419    419  1990-01-01   75.829987        0.76

[420 rows x 4 columns]

## Exploratory Data Analysis

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb